@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth
}

/* width */
body::-webkit-scrollbar {
   @apply w-[3px] 
 }
 
 /* Track */
 body::-webkit-scrollbar-track {
   @apply bg-black
 }
 
 /* Handle */
 body::-webkit-scrollbar-thumb {
   @apply bg-bgSecondary
 }
 
 /* Handle on hover */
 body::-webkit-scrollbar-thumb:hover {
   @apply bg-slate-500 dark:hover:bg-slate-300
 }


/* ------------------------ NavBar ------------------------ */

.hamburger-stripe {
  @apply rounded-full bg-primary dark:bg-darkBgSecondary group-hover:bg-secondary transition duration-300
  h-[1px] w-[15px]
  sm:h-[1px] sm:w-[20px]
  md:h-[2px]
}

.navlist-svg {
  @apply dark:text-darkPrimary
  w-[18px]
  sm:w-[19px]
  md:w-[21px]
  lg:w-[24px]
}

.leftBar-list {
  @apply hover:text-secondary hover:border-b-2 pb-1
}

#total-price {
  word-spacing: 7px;
}


/* ------------------------ Products ------------------------ */

/* ------------ *General* ------------ */
.section-title {
  @apply text-center font-medium text-primary tracking-widest uppercase text-[25px]
  md:text-[25px]
  lg:text-[30px]
  xl:text-[35px]
}

#alert {
  word-spacing: 5px
}

/* ------------ Hero ------------ */
#hero > * img {
  @apply h-full w-full object-cover object-top
}

/* ------------ Designer ------------ */
.designer-text {
  @apply first-letter:text-5xl first-letter:ml-3 first-line:uppercase font-medium text-sm
  sm:first-letter:ml-5 sm:text-justify
  md:text-xs
  lg:text-sm
  xl:text-base
}

/* ------------ Hot Products ------------ */
#hot-products > * img {
  @apply shadow-xl h-[300px] w-full object-cover object-top
  sm:max-w-[160px] sm:min-w-[100px] sm:h-auto
  md:max-w-[200px] md:min-w-[150px]
  lg:max-w-[240px] 
  xl:max-w-max xl:max-h-[400px]
}

/* ------------ Footer ------------ */
.footer-col {
  @apply flex flex-col gap-[6px] mb-8 w-[45%] mx-auto p-5 border
  sm:w-auto sm:max-w-[200px] sm:p-0 sm:m-0 sm:border-0
}

.footer-title {
  @apply font-semibold text-slate-900 mb-3
}